#root {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 160px;
  line-height: 160px;
  background: none;
  border: none;
  -webkit-text-stroke: 1px #404040;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  color: white;

}